$font-size: 14px;
$btn-size: $font-size;

.st-table {
  // width: 100%;
  margin-left: 200px;
  font-size: $font-size;
  // line-height: 2;
  text-align: left;
  border-collapse: collapse;
  cursor: default;

  thead th {
    height: 44px;
    padding: 0;
    font-weight: normal;
    color: #b5b5b5;

    &:nth-child(1) {
      text-align: right;
      color: #b5b5b5;
    }
  }
  tbody {
    td {
      height: 66px;
      padding: 0;
    }
    tr:hover {
  
      background-color: #fff;
    }
  }

  .btn {
    display: inline-block;
    width: $btn-size;
    height: $btn-size;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    font-size: 0;
  }

  .st-td {
    &-index {
      width: $font-size * 3;
      text-align: right;
      color: #b5b5b5;
      font-weight: 500;
    }

    &-like {
      width: $font-size * 4;
      text-align: center;
      .like,
      .liked {
        vertical-align: top;
        margin-top: 1px;
      }
      .like {
        background-image: url(./images/like.png);
      }
      .liked {
        background-image: url(./images/liked.png);
      }
    }

    &-music {
      .cnt-wrap {
        display: flex;
        width: 400px;

        .info {
          flex: 1 1 auto;
          line-height: 22px;
          overflow: hidden;

          // .name,
          // .artists {
          //   white-space: nowrap;
          // }
          .name a {
            font-weight: 600;
            color: #000000;
          }
          .artists a {
            font-size: $font-size - 2;
            color: #666666;
          }
        }
        .operation {
          flex: 0 0 auto;
          margin: 0 22px;

          .play,
          .add {
            margin-right: $font-size;
            background-size: $btn-size - 2;
          }
          .play {
            background-image: url(./images/play.png);
          }
          .add {
            background-image: url(./images/add.png);
          }
        }
      }
    }

    &-album a {
      color: #666666;
      // font-size: $font-size - 2;
    }
    &-duration {
      width: 66px;
      color: #666666;
      // font-size: $font-size - 2;
    }
  }
}