$primary-color: #cc3333;
$primary-color-darker: #b12323;
$primary-color-lighter: #d95d59;
$label-color: #e03f40;
$tag-link-color: rgb(12, 115, 194);

$text-color-1: #000000;
$text-color-2: #333333;
$text-color-3: #666666;
$text-color-4: #999999;
$text-color-5: #cccccc;
$text-color-6: #ffffff;
$line-height-size: 28px;
$cover-size: 198px;
$author-height-size: 24px;

.pld-info {
  box-sizing: border-box;
  min-width: 754px;
  min-height: $cover-size;
  margin: 10px 10px 44px 22px;
  padding-left: 228px;

  &-cover {
    float: left;
    width: $cover-size;
    height: $cover-size;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid #d9d9d9;
    margin-top: -2px;
    margin-left: -228px;
  }
  &-hd {
    position: relative;
    padding-right: 48px;
    // padding: 0 48px 0 50px;
    padding-top: 4px;
    margin-bottom: 14px;

    // &-label {
    //   float: left;
    //   padding: 0 6px;
    //   margin-top: 4px;
    //   margin-left: -50px;
    //   border: 1px solid $label-color;
    //   font-size: 12px;
    //   line-height: 18px;
    //   color: $label-color;
    // }

    &-title {
      margin: 0;
      font-size: 24px;
      font-weight: normal;
      line-height: 28px;
      color: $text-color-2;
      // 单词换行 规则
      word-wrap: break-word; 
      // 单词换行点 规则
      word-break: break-word; 
      // 空白符处理规则
      white-space: normal; 
    }

    &-count {
      position: absolute;
      top: 0;
      right: 0;
  
      font-size: 12px;
      line-height: 16px;
      color: $text-color-4;
      text-align: right;
  
      span {
        display: block;
      }
      span:nth-child(2) {
        font-weight: bold;
      }
    }
  }
  &-author {
    height: $author-height-size;
    line-height: $author-height-size;

    a {
      display: inline-block;
      height: $author-height-size;
      margin-right: 20px;
    }
    &-avatar {
      display: inline-block;
      width: $author-height-size;
      height: $author-height-size;
      margin-right: 10px;
      // border-radius: 50%;
    }
    &-name {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: #0084FF;
    }
    &-pubtime {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      color: $text-color-4;
    }
  }
  &-operation {
    margin: 28px 0;

    &-btn {
      display: inline-flex;
      align-items: center;
      height: 32px;
      padding: 0 16px;
      margin-right: 10px;
      border-radius: 16px;
      font-size: 14px;
      line-height: 32px;
      cursor: pointer;
      vertical-align: top;
    }
    &-playall {
      background-color: rgba(250, 217, 97, 1);
      color: #444444;

      &:hover {
        background-color: rgb(243, 210, 93);
      }
    }
    &-addall {
      background-color: rgba(250, 217, 97, 0.28);
      color: #A08710;

      &:hover {
        background-color: rgba(224, 194, 85, 0.28);
      }
    }
    &-icon {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 10px;

      &.playall {
        background-image: url(./images/play.png);
      }
      &.addall {
        background-image: url(./images/plus.png);
      }
    }
    // ,
    //  {
    //   background-color: $label-color;
    //   color: $text-color-6;
    // }
    // &-playall:hover,
    // &-addall:hover {
    //   background-color: $primary-color;
    // }
    // &-playall {
    //   border-top-right-radius: 0;
    //   border-bottom-right-radius: 0;
    // }
    // &-addall {
    //   border-left: 1px solid $primary-color-lighter;
    //   border-top-left-radius: 0;
    //   border-bottom-left-radius: 0;
    //   font-size: 14px;
    // }
  }
  &-tags {
    // margin-bottom: 4px;
    font-size: 12px;
    line-height: 24px;
    
    span {
      color: #8590A6;
    }
    a {
      display: inline-block;
      height: 24px;
      padding: 0 11px;
      background-color: rgba(133, 144, 166, 0.1);
      border-radius: 24px;
      margin-right: 8px;
      color: #8590A6;
    }
    a:hover {
      background-color: rgba(0, 132, 255, 0.1);
      color: #0084FF;
    }
  }
  &-intro {
    font-size: 12px;
    line-height: 22px;
    color: $text-color-3;

    span {
      color: $text-color-2;
    }
  }
}

// .placehold {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 50vh;
// }