// 22 14
$font-size: 14px;
$btn-size: $font-size;
$line-height-size: 22px;
// color
$font-color-1: #000000; // name
$font-color-2: #999; // alias artists album duration8c8c8c
$font-color-3: #b5b5b5; // index thb5b5b5

.st-table {
  // width: 100%;
  // width: 980px;
  // min-width: 980px;
  
  margin: 0 auto 22px;
  border-collapse: collapse;
  font-size: $font-size;
  font-variant-numeric: tabular-nums;
  text-align: left;
  cursor: default;

  .st-thead {

    .st-th {
      // height: $line-height-size * 2;
      // padding-left: 10px;
      padding: 7px 0 7px 10px;
      font-weight: normal;
      color: $font-color-3;
  
      &-index {
        text-align: right;
        padding-left: 0;
        padding-right: 10px;
      }
      &-like, &-source {
        font-size: 0;
      }
    }
  }

  .st-tbody {

    .st-tr:nth-child(even) {
      background-color: #fbfbfb;
    }
    .st-tr {
      transition: background-color 50ms;
    }
    .st-tr:hover {
      background-color: #f5f5f5;
      // .st-td-music-cnt-wrap
      .st-td-music .st-td-music-operation {
        display: flex;
      }
    }
    .st-tr.is-playing {
      background-color: #f1f1f1;
    }

    .st-td {
      padding: 7px 0 7px 10px;

      &-index {
        // width: $font-size * 2;
        // min-width: $font-size * 2;
        padding: 7px 10px;
        // border-bottom-width: 0;
        text-align: right;
        color: $font-color-3;
        // font-weight: 500;

        .wave {
          display: inline-block;
          width: 18px;
          height: 16px;
          margin-right: -3px;
          font-size: 0;
          transform: rotate(180deg);
        }

        .wave-part {
          float: left;
          width: 3px;
          margin-left: 3px;
          vertical-align: bottom;
          background-color: rgb(255, 212, 38);
          
          &:nth-child(1) {
            animation: wave 0.35s ease-in-out 0s infinite alternate ;
          }
          &:nth-child(2) {
            animation: wave 0.5s ease-in-out 0s infinite alternate ;
          }
          &:nth-child(3) {
            animation: wave 0.65s ease-in-out 0s infinite alternate ;
          }
        }

        .stop {
          .wave-part{
            animation-play-state: paused;

            &:nth-child(1) {
              height: 12px;
            }
            &:nth-child(2) {
              height: 16px;
            }
            &:nth-child(3) {
              height: 8px;
            }
          }
        }

      }

      &-like {
        width: $font-size * 2;
        min-width: $font-size * 2;
        padding: 7px 0;
        // border-bottom-width: 0;
        text-align: center;

        .st-btn {
          &-like,
          &-liked {
            vertical-align: top;
            margin-top: 3px;
          }
          &-like {
            background-image: url(./images/like.png);
          }
          &-liked {
            background-image: url(./images/liked.png);
          }

        }
      }

      &-music {
        display: flex;
        width: $font-size * 21;
        margin-right: $line-height-size;
        // position: relative;

        &-info {
          flex: 1 1 auto;
          overflow: hidden;
          // width: $font-size * 15;
          // padding-right: 100px;
          line-height: $line-height-size;

          &-name {
            color: $font-color-1;

            .alias {
              color: $font-color-2;
            }
          }
          // &-artists a {
          //   font-size: $font-size - 2;
          //   color: #797979;
          // }
        }

        &-operation {
          // position: absolute;
          // top: $line-height-size / 2;
          // right: 0;
          display: none;
          align-items: center;
          flex: 0 0 auto;
          // margin: 0 $line-height-size;
          margin-left: $line-height-size;

          .st-btn {
            &-play,
            &-pause,
            &-add {
              // vertical-align: top;
              // margin-top: ($line-height-size * 2 - $btn-size) / 2;
              background-size: $btn-size - 2;
              margin-right: $font-size;
            }
            &-play {
              background-image: url(./images/play.png);
            }
            &-pause {
              background-image: url(./images/songtable-pause.png);
            }
            &-add {
              background-image: url(./images/add.png);
            }
          }
        }
      }

      // div
      &-artists {
        width: $font-size * 15;
        padding-right: $line-height-size;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;

        a {
          color: $font-color-2;
        }
      }

      &-album {
        // display: flex;
        // align-items: center;
        width: $font-size * 10;
        padding-right: $line-height-size;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
          // display: block;
          // overflow: hidden;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          color: $font-color-2;
        }
      }

      &-source {
        width: $font-size * 1.5;
        min-width: $font-size * 1.5;

        .st-btn-source {
          vertical-align: top;
          margin-top: 1px;
          background-image: url(./images/liked.png);
        }
      }

      // td
      &-duration {
        // width: $font-size * 5;
        padding: 7px 10px;
        color: $font-color-3;
      }
    }
  }

  .st-btn {
    display: inline-block;
    width: $btn-size;
    height: $btn-size;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    font-size: 0;
    transition: background-image 0.2s;
  }
}

@keyframes wave {
  from {
    height: 3px;
  }

  to {
    height: 16px;
  }
}