%cover-dimension {
  width: 44px;
  height: 44px;
}

.mty-song-brief {
  &-container {
    flex: none;
    width: 100%;
    height: 56px;
  }

	display: flex;
	height: 56px;
	border-top: 1px solid #e1e1e1;
  font-size: 12px;
  
  &-cover {
    flex: none;
    margin: 6px 8px 6px 6px;
    
    a {
      position: relative;
      display: block;
      @extend %cover-dimension;
      text-decoration: none;
      
      img { @extend %cover-dimension; }
    }

    a:hover::before {
      content: '';
      position: absolute;
      @extend %cover-dimension;
      background-image: url(./images/cover-arrow-44x44.png);
    }
  }

  &-info {
    flex: auto;
    margin-top: 6px;
    overflow: hidden;
    
    &-name, &-artists {
      height: 12px;
      line-height: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a { text-decoration: none; }
    }
    
    &-name {
      margin: 6px 0 8px 0;

      a { color: #333333; }
    }
    
    &-artists {
      a { color: #666666; }
      a:hover { color: #333333; }
    }
  }
}


.mty-song-brief-operation {
	flex: none;
	padding: 4px 0;
	margin: 0 10px;
	font-size: 0;
	
	i {
		display: block;
		width: 12px;
		height: 12px;
		margin: 8px 0;
		background-color: antiquewhite;
	}
}
