/* 
样式主色：#7800bd （一种紫色）
字体颜色：#333333 （深灰色）
*/
$btn-size: 34px;
$btn-bg-size: 24px;

$progress-height: 2px;
$progress-btn-size: 10px;

$volume-btn-bg-size: 14px;

.audio-controls-panel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 66px;
  box-shadow: 0 -1px 3px rgba(26, 26, 26, 0.1);

  .btn {
    flex: 0 0 auto;
    width: $btn-size;
    height: $btn-size;
    min-width: $btn-size;
    // background-size: $bg-img-size;
    background-size: 58%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    font-size: 0;
  }

  .prev {
    margin-left: 70px;
    background-image: url(./assets/icn/prev.png);
  }
  .next {
    margin-right: 35px;
    background-image: url(./assets/icn/next.png);
  }
  .play {
    background-image: url(./assets/icn/play.png);
  }
  .pause {
    background-image: url(./assets/icn/pause.png);
  }
  .play,
  .pause {
    margin: 0 18px;
  }

  // time
  .played-time,
  .whole-time {
    font-family: Roboto-Regular, Roboto, sans-serif;
    font-size: 14px;
    line-height: 1;
    opacity: 0.87;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
  }
  .played-time {
    margin-right: 16px;
  }
  .whole-time {
    margin-left: 16px;
  }

  .progress {
    position: relative;
    flex: 1 1 auto;
    height: $progress-height;
    border-radius: $progress-height;
    background-color: #d9d9d9;

    .progress-behind,
    .progress-front {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
    // 加载进度
    .progress-behind {
      width: 0;
      background-color: #999999;
      border-radius: $progress-height;
    }
    // 播放进度
    .progress-front {
      width: 0;
      background-color: #000000;
      border-radius: $progress-height;
      
      .progress-btn {
        display: block;
        width: $progress-btn-size;
        height: $progress-btn-size;
        margin-top: (-($progress-btn-size / 2 - $progress-height / 2));
        margin-right: (-($progress-btn-size / 2));
        border-radius: $progress-btn-size;
        background-color: #000000;
        cursor: pointer;
      }
      .progress-btn:hover {
        box-shadow: 0 0 10px #cccccc;
      }
    }
  }

  // volume
  .volume-wrap {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding-left: 104px;
    padding-right: 14px;

    .volume,
    .muted {
      background-size: $btn-bg-size - 2; // 22
    }
    .volume {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDl2Nmg0bDUgNVY0TDcgOUgzem0xMy41IDNjMC0xLjc3LTEuMDItMy4yOS0yLjUtNC4wM3Y4LjA1YzEuNDgtLjczIDIuNS0yLjI1IDIuNS00LjAyek0xNCAzLjIzdjIuMDZjMi44OS44NiA1IDMuNTQgNSA2Ljcxcy0yLjExIDUuODUtNSA2LjcxdjIuMDZjNC4wMS0uOTEgNy00LjQ5IDctOC43N3MtMi45OS03Ljg2LTctOC43N3oiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
    }
    .muted {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNi41IDEyYzAtMS43Ny0xLjAyLTMuMjktMi41LTQuMDN2Mi4yMWwyLjQ1IDIuNDVjLjAzLS4yLjA1LS40MS4wNS0uNjN6bTIuNSAwYzAgLjk0LS4yIDEuODItLjU0IDIuNjRsMS41MSAxLjUxQzIwLjYzIDE0LjkxIDIxIDEzLjUgMjEgMTJjMC00LjI4LTIuOTktNy44Ni03LTguNzd2Mi4wNmMyLjg5Ljg2IDUgMy41NCA1IDYuNzF6TTQuMjcgM0wzIDQuMjcgNy43MyA5SDN2Nmg0bDUgNXYtNi43M2w0LjI1IDQuMjVjLS42Ny41Mi0xLjQyLjkzLTIuMjUgMS4xOHYyLjA2YzEuMzgtLjMxIDIuNjMtLjk1IDMuNjktMS44MUwxOS43MyAyMSAyMSAxOS43M2wtOS05TDQuMjcgM3pNMTIgNEw5LjkxIDYuMDkgMTIgOC4xOFY0eiIvPgogICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
    }

    .volume-bar {
      flex: 0 0 auto;
      width: 80px;
      height: $progress-height;
      border-radius: $progress-height;
      background-color: #d9d9d9;
  
      .volume-bar-front {
        width: 0;
        height: 100%;
        background-color: #000000;
        border-radius: $progress-height;
        transition: width 80ms ease-out;
        
        .volume-bar-btn {
          display: none;
          width: $progress-btn-size;
          height: $progress-btn-size;
          margin-top: (-($progress-btn-size / 2 - $progress-height / 2));
          margin-right: (-($progress-btn-size / 2));
          border-radius: $progress-btn-size;
          background-color: #000000;
          cursor: pointer;
  
          &:hover {
            box-shadow: 0 0 10px #cccccc;
          }
        }
      }
    }

    &:hover {
      .volume-bar-front {
        .volume-bar-btn {
          display: block;
        }
      }
    }
  }

  // mode
  // .loop-mode,
  // .single-mode,
  // .random-mode {
  //   margin-left: 14px;
  // }
  .loop-mode {
    background-image: url(./assets/icn/loop.png);
  }
  .single-mode {
    background-image: url(./assets/icn/single-loop.png);
  }
  .random-mode {
    background-image: url(./assets/icn/random.png);
  }

  // list
  .list-btn-wrap {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 2px;
    margin-right: 36px;
    cursor: pointer;

    .list-btn {
      background-image: url(./assets/icn/play-list.png);
    }
    .songs-num {
      padding: 8px 4px;
      margin-left: -9px;
      
      font-size: 12px;
      text-align: left;
      color: #000000;
    }
  }


  .playlist-panel {
    position: absolute;
    bottom: 66px;
    right: 0;
    // width: 600px;
    height: 70vh;
    background-color: #fdfdfd;
    border: 1px solid #d1d1d1;
    border-bottom-width: 0;
    box-shadow: -1px -1px 3px rgba(26, 26, 26, 0.25);
    overflow-y: scroll;
    z-index: 10;

    .plp-header {
      display: flex;
      justify-content: space-between;
      height: 36px;
      padding: 0 22px 0 38px;
      border-bottom: 1px solid #dddddd;
      background-color: rgba(245,245,245,.35);
      font-size: 14px;
      line-height: 36px;
      color: #666666;

      .plp-operation {
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon-delete {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin-right: 3px;
          background-image: url(./assets/delete-all.png);
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: center center;
          cursor: pointer;
        }
      }
    }

  }
}
