%cover-dimension {
  width: 48px;
  height: 48px;
}

.mty-song-brief {
  position: absolute;
  left: 0;
  top: 0;

  // flex: 0 0 auto;
  display: flex;
  align-items: center;
  width: 288px;
	height: 66px;
  font-size: 12px;
  
  &-cover {
    flex: none;
    margin-left: 14px;
    margin-right: 14px;

    &-placeholder {
      display: block;
      width: 44px;
      height: 44px;
    }
    
    a {
      position: relative;
      // z-index: 9;
      display: block;
      @extend %cover-dimension;
      text-decoration: none;
      border-radius: 3px;

    }
    img { 
      // display: block;
      border-radius: 4px;
      @extend %cover-dimension;
    }

    a:hover::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 10;
      @extend %cover-dimension;
      background-color: rgba(0,0,0,0.4);
    }

    a:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 11;
      @extend %cover-dimension;
      background-image: url(./images/up-arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40% auto;
      opacity: 0.8;
    }
  }

  &-info {
    flex: auto;
    overflow: hidden;
    
    &-name, &-artists {
      // height: 12px;
      line-height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a { 
        text-decoration: none;
      }
    }
    
    &-name {
      a { color: #000000; }
    }
    
    &-artists {
      a { color: #797979; }
      // a:hover { color: #000000; }
    }
  }
}

.mty-song-brief-operation {
	flex: none;
	padding: 4px 0;
	margin: 0 10px;
	font-size: 0;
	
	i {
		display: block;
		width: 12px;
		height: 12px;
		margin: 8px 0;
		// background-color: antiquewhite;
	}
}
